/* -------------------------------- 

xheader 

-------------------------------- */

header {
	position: fixed;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	background: $header-bg;
	text-align: center;
	box-shadow: 0 2px 0 rgba(#000, .1);

	z-index: $header-zindex;

	@include MQ(L) {
		height: 80px;
	}
}

.logo {
	padding-top: 5px;
    &__image{
        display: none;
    }
	/* delete this property if you don't want your logo to scale down on mobile devices */
	@include transform(scale(.8)); 

	@include MQ(L) {
        &__image{
            display: block;
            width: 50%;
        }
		padding-top: 20px;
		position: absolute;
		/* logo left margin on Dekstop */
		left: 2.4em; 
		top: 0;
		@include transform(scale(1));
	}
}

.shopping-cart {
        position: absolute;
        top: 0;
        height: 100%;
        right: 0;

        &__image {
            background: darken($header-bg, 5%) url('../img/cd-cart.svg') no-repeat center center;
            width: 60px;
            height: 100%;

        }
        &__counter{
            position: absolute;
            top: 9px;
            right: 25px;
            height: 20px;
            width: 18px;
            background: #e94b35;
            color: #ffffff;
            font-size: 1.5rem;
            font-weight: bold;
            border-radius: 50%;
            text-indent: 0;
            -webkit-transition: -webkit-transform .2s .5s;
            transition: -webkit-transform .2s .5s;
            transition: transform .2s .5s;
            transition: transform .2s .5s, -webkit-transform .2s .5s;
            @include MQmax(L){
                top:2px;
                right:5px;
            }
		}
        &__number{
            margin-top: 2px;
            font-size: 0.7em;
            &:last-of-type {
                visibility: hidden;
            }
        }
	@include MQ(L) {
		/* cart right margin on desktop */
		right: 0;

		.shopping-cart__image {
			position: relative;
			width: 100px;
			border-left: none;
			background-color: darken($header-bg, 5%);
		}
	}
}
.nav-adjustments{
	position: fixed;
	top: 0;
	height: 100%;
	width: 260px;
	/* header height */
	padding-top: 50px; 

	overflow-y: auto;
	-webkit-overflow-scrolling: touch;

	box-shadow: 0 0 20px rgba(#000, .2);

	z-index: $sidebar-zindex;

	@include MQ(M) {
		width: 350px;
	}

	@include MQ(L) {
		width: 30%;

		/* header height has changed */
		padding-top: 80px; 
	}
}
.main-navigation{
    &__hamburger{
        left: 0;
        position: absolute;
        top: 0;
        height: 100%;
        @include MQ(L) {
            display: none;
        }
    }
    &__ham-image {
        background: darken($header-bg, 5%) url('../img/cd-hamburger-menu.svg') no-repeat center center;
        width: 60px;
        height: 100%;
    }
    &__link {
        display: block;
        height: 50px;
        line-height: 50px;
        padding: 0 1em;
        border-bottom: 1px solid $border;
        &--current{
            box-shadow: inset 3px 0 $link;
        }
    }

    &__menu {
        @extend .nav-adjustments;
        left: -100%;
        background: #FFF;
  
        @include MQ(M) {
            width: 350px;
        }

        @include MQ(L) {
            width: 30%;
            /* header height has changed */
            padding-top: 80px; 
        }
        @include transition(left .3s);

        &.speed-in {
            left: 0;
        }

        @include MQ(L) { /* reset main nav style */
            position: absolute;
            height: auto;
            width: auto;
            left: auto;
            right: 8em;
            padding-top: 0;
            top: 0;
            background: transparent;
            box-shadow: none;

            /* header height */
            line-height: 80px; 

            z-index: $header-zindex;

            .main-navigation__list-item {
                display: inline-block;
                margin-left: 1em;
            }

            .main-navigation__link {
                display: inline-block;
                height: auto;
                line-height: 1;
                padding: 1em 1.4em;
                border-bottom: none;
                color: rgba(#FFF, .8);
                @include border-radius;

                &--current {
                    box-shadow: none;
                    background: $link;
                    color: #FFF;
                }

                .no-touch &:hover {
                    background: $link;
                    color: #FFF;
                }
            }
        }

        .no-js & {
            position: fixed;
        }
}
}